
#hours{
  text-align:center;
}
#intro{
  text-align:center;
  padding-bottom:10px;
  padding-top:10px;
  border-bottom:2px solid #dc3545;
  background-color:#dc3545;
  color:white;
}
#chart-img{
  margin-left:auto;
  margin-right:auto;
}
h2{
  text-align:center;
  border-bottom:2px solid #dc3545;
  font-size:130%;
  color:#dc3545;
}
.pizza-old{
  height:400px;
  overflow:scroll;
  text-align:center;
}
figure p{
  display:none;
}
figure img{
  border-radius:50%;
}
figcaption{
  text-align:center;
  font-weight:bold;
  text-decoration:underline;
}

.note{
  font-size:80%;
  color:red;
}
#toppings{
  text-align:center;
}
.cost-toppings li{
  list-style-type:none;
}
.cost-toppings p{
  border-bottom:1px solid #dc3545;
}
#contacts{
  text-align:center;
  background-color:#dc3545;
  color:white;
}
figure{
  padding:2px;
  margin:15px;
}
#offer-delivery{
  text-align:center;
  padding:30px;
}
#menu{
  text-align:center;
}
