
#hours{
  text-align:center;
}
#intro{
  text-align:center;
  padding-bottom:10px;
  padding-top:10px;
  border-bottom:2px solid #dc3545;
  background-color:#dc3545;
  color:white;
}
#chart-img{
  margin-left:auto;
  margin-right:auto;
}
h2{
  text-align:center;
  border-bottom:2px solid #dc3545;
  font-size:130%;
  color:#dc3545;
}
.pizza-old{
  height:400px;
  overflow:scroll;
  text-align:center;
}
figure img{
  border-radius:50%;
}
figcaption{
  text-align:center;
  font-weight:bold;
  text-decoration:underline;
}

.note{
  font-size:80%;
  color:red;
}
#toppings-choose{
  text-align:center;
}
.cost-toppings li{
  list-style-type:none;
}
.cost-toppings p{
  border-bottom:1px solid #dc3545;
}
#contacts{
  text-align:center;
  background-color:#dc3545;
  color:white;
}
figure{
  padding:2px;
  margin:15px;
}
figure .card-footer{
  font-size:80%;
}
#menu .card-header, #toppings .card-header{
  background-color:#dc3545;
  color:white;
  text-align:center;
}
header{
  text-align:center;
  color:#dc3545;
}
#priceTag{
  text-align:center;
  font-size:90%;
}
#offer-delivery{
  text-align:center;
  padding:30px;
  font-weight:bold;
  font-size:120%;
}
#offer-delivery:hover{
  border:2px solid #dc3545;
}
#menu{
  text-align:center;
  background-image:url("../images/pizza9.jpg");
  background-size:contain;
}
figure:hover{
  border:2px solid #dc3545;
}
.order-details{
  text-align:center;
  display:none;
  background-image:url("../images/pizza8.jpg");
  font-weight:bold;
  padding:20px;
}
#charges{
  display:none;
}
#content{
  /* background-image:url("../images/pizza8.jpg");
  background-size:cover; */
}
form{
  background:transparent;
}
