#logo{
  border-radius:50%;
}
a{
  color:#dc3545;
}
a:hover{
  text-decoration:underline;
}
#motto{
  border-bottom:3px solid #dc3545;
  text-align:center;
  margin-bottom:0;
  color:#dc3545;
  font-weight:bold;
  font-size:120%;
}
#main{
  background-image:url("../images/img2.jpg");
  background-size:cover;
  padding:100px;
  text-align:center;
}
#order{
  color:white;
  background-color:#dc3545;
  padding:20px;
  font-weight:bolder;
  font-size:200%;
}
#order:hover{
  text-decoration:underline;
}
#offers{
  text-align:center;
  padding-top:20px;
}
#about{
  text-align:center;
  padding-top:20px;
}
#social-icons{
  text-align:center;
  font-size:80%;
}
#contact-location{
  background-color:#dc3545;
  color:white;
  text-align:center;
  align-content:center;
}
#subscribe-form{
  padding:10px;
  background-color:#8c1924;
}
#label-form{
  text-align:center;
}
